/* -------- Top Navigation */
.main-navbar {
    position: absolute;
    width: 100%;    
}

.nav-space-filler{
    height: 80px;
}

.navbar-card {
    margin-left: auto;
    min-width: 180px;
    max-width: max-content;
    --bs-bg-opacity: 0.75;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;    
}

li.nav-item {
    text-align: right; 
}

li.nav-item a {
    color: #fff;
}

/* -------- // Top Navigation */

/* -------- Home page */

.home-main-content{
    text-align: center;
}

.carousel-image{
    width: 300px;
    height: 300px;
}

.carousel-caption p,h5 {
    background-color: white;
    color: black;
    margin-bottom: 0px;
}

/* -------- //Home page */

/* -------- //Recipes page */

.recipes-header{
    justify-content: space-between;
    display: flex;
    margin: 10px auto;
}


/* -------- //Recipes page */

/* Bootstrap class overrides */

.card {
    border: initial;
    border-radius: 0px 0px 0px 0.5rem;
}

@media (min-width: 992px) {
    .navbar-card{
        margin-left: calc(83.33333333% - 110px);
        max-width: initial;
        align-items: center;
    }
}