/* -------- General */

.flash-messages{
    max-width: fit-content;
    margin: auto;
}

.control{
    margin: 5px;
}

/* -------- Top Navigation */
.main-navbar {
    position: absolute;
    width: 100%;    
}

.nav-space-filler{
    height: 80px;
}

.navbar-card {
    margin-left: auto;
    min-width: 180px;
    max-width: max-content;
    --bs-bg-opacity: 0.75;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;    
}

li.nav-item {
    text-align: right; 
}

li.nav-item a {
    color: #fff;
}

/* -------- Home page */

.home-main-content{
    text-align: center;
}

.carousel-image{
    width: 300px;
    height: 300px;
}

.carousel-caption p,h5 {
    background-color: white;
    color: black;
    margin-bottom: 0px;
}

/* -------- Recipes page */

.recipes-header{
    justify-content: space-between;
    display: flex;
    margin: 10px auto;
}

.all-recipes{
    display: flex;
    margin: 5px auto;
}

.recipe{
    text-align: center;
    max-width: 200px;
    margin: 10px auto;
}

.recipe p{
    margin: 0px;
}

.recipe-title{
    font-weight: bold;
}

.recipe-description {
    font-style: italic;
    font-size: 0.9rem;
}

.all-recipes img{
    width: 200px;
    height: 200px;
}

/* -------- View Recipe */

.recipeHeader{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 25%;
}

.singleRecipeImage{
    margin: auto;
    display: flex;
    max-width: inherit;
    max-height: inherit;
}

.products{
    margin-top: 30px;
}

/* -------- My Recipes */

.recipe-listing{
    display: flex;
}

.recipe-controls{
    display: flex;
    margin-left: auto;
}

.my-recipes-list{
    margin: 20px;
}

/* -------- Forms */

.login-form, .register-form{
    margin-top: 30px;
}

.login-form,.register-form a{
    width: 100%;
}

.form-arrays{
    display: flex;
}

.form-controls{
    margin-left: auto;
}



/* -------- Bootstrap class overrides */

.card {
    border: initial;
    border-radius: 0px 0px 0px 0.5rem;
}

.form-control{
    margin: 5px;
}

/* -------- Media Queries */

@media (min-width: 992px) {
    .navbar-card{
        margin-left: calc(83.33333333% - 110px);
        max-width: initial;
        align-items: center;
    }
}