/* -------- General */

.flash-messages{
    max-width: fit-content;
    margin: auto;
}

.control{
    margin: auto 5px;
}

a {
    text-decoration: none;
}

/* -------- Top Navigation */

.main-navbar {
    position: absolute;
    width: 100%;    
}

.nav-space-filler{
    height: 80px;
}

.navbar-card {
    margin-left: auto;
    min-width: 180px;
    max-width: max-content;
    --bs-bg-opacity: 0.75;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;    
}

li.nav-item {
    text-align: right; 
}

li.nav-item a {
    color: #fff;
}

/* -------- Home page */

.home-main-content{
    text-align: center;
}

.browse-recipe-button{
    margin-top: 10px;
}

.carousel-container{
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-container h5{
    margin-bottom: 5px;
}

.carousel-item, .recipe{
    height: 250px;
}

.img-container{
    height: 80%;
    width: 95%;
    margin: 0px auto;
}

.carousel-image{
    max-height: 100%;
    max-width: 100%;
}

.recipe-caption{
    bottom: 10px;
    padding: 0px;
    margin: 5px auto;
}

.recipe-caption > * > * {
    color: black;
    margin: 0px auto;
    white-space:nowrap;
    overflow:hidden;
    width: inherit;    
}

.recipe-caption .row *{
    padding: 0px;
    margin: 0px 3%;
}

.overflow-dots{
    max-width: fit-content;
    padding: 5px 0px 0px 5px;
    line-height: 1rem;
    margin: auto !important;
}

/* -------- Recipes page */

.recipes-header{
    justify-content: space-between;
    display: flex;
    margin: 10px auto;
}

.all-recipes{
    display: flex;
    margin: 5px auto;
}

.recipe{
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    padding: 0px calc(var(--bs-gutter-x) * .9);
    background-color: #f8f9fa;
    border: #53a57f solid 1px;
    border-radius: 10%;
}

.recipe:hover{
    background-color: #e4f7e6;
}

.recipe p{
    margin: 0px;
}

.recipe-caption .row .recipe-title{
    font-weight: bold;
    padding: 1px;
    line-height: 1.5rem;
}

.recipe-description {
    font-style: italic;
    font-size: 0.9rem;
    line-height: 1rem;
}

/* -------- View Recipe */

.recipeHeader{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 25%;
}

.singleRecipeImage{
    margin: auto;
    display: flex;
    max-width: inherit;
    max-height: inherit;
}

.products{
    margin-top: 30px;
}

/* -------- My Recipes */

.recipe-listing{
    display: flex;
}

.recipe-listing .row {
    max-width: 80%;
}

.recipe-listing .row:hover{
    text-decoration: underline;
}

.recipe-listing .row a {
    white-space:nowrap;
    overflow:hidden;
}

.recipe-controls{
    display: flex;
    margin-left: auto;
}

.my-recipes-list{
    margin: 20px;
}

/* -------- Forms */

.login-form, .register-form{
    margin-top: 30px;
}

.login-form,.register-form a{
    width: 100%;
}

.form-arrays{
    display: flex;
}

.form-controls{
    margin-left: auto;
}

.hover_hand:hover{
    cursor: pointer;    
}

/* -------- Bootstrap class overrides */

.card {
    border: initial;
    border-radius: 0px 0px 0px 0.5rem;
}

.form-control{
    margin: 5px;
}

.carousel-indicators{
    margin-bottom: initial;
}

/* -------- Media Queries */

@media (min-width: 576px){
    .col-sm-4 {
        flex: 0 0 auto;
        width: 30%;
        margin: 15px auto;
    }
}

@media (min-width: 992px) {
    .navbar-card{
        margin-left: calc(83.33333333% - 110px);
        max-width: initial;
        align-items: center;
    }

    .carousel-item, .recipe{
        height: 275px;
    }
}