{% extends "base.html" %}

{% block mainContent %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>Add recipe</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form method="POST" action="{{ url_for('addRecipe') }}" class="recipeForm" 
                enctype="multipart/form-data">
                <!-- Input: Title -->
                <label for="title" class="form-label">Title*</label>
                <input type="text" name="title" id="title" class="form-control" required>

                <!-- Input: Description -->
                <label for="description" class="form-label">Description</label>
                <input type="textarea" name="description" id="description" class="form-control">

                <!-- Input: Image -->
                <label for="recipeImage" class="form-label">Image*</label>
                <input type="file" id="recipeImage" name="recipeImage" class="form-control">

                <!-- Input: Ingredients -->
                <div id="ingredients_div">
                    <div class="form-arrays">
                        <label for="ingredients" class="form-label">Ingredients*</label>
                        <div class="form-controls">
                            <div id="ingredients_plus" class="hover_hand d-inline">
                                <i class="fas fa-plus-circle" aria-label="Add a new line"></i>
                            </div>
                            <div id="ingredients_minus" class="hover_hand d-inline">
                                <i class="fas fa-minus-circle" aria-label="Remove a line"></i>
                            </div>
                        </div>
                    </div>
                    <input type="text" name="ingredients[]" id="ingredients1" class="form-control" required>
                </div>

                <!-- Input: Cooking steps -->
                <div id="cookingSteps_div">
                    <div class="form-arrays">
                        <label for="cookingSteps" class="form-label">Cooking steps*</label>
                        <div class="form-controls">
                            <div id="cookingSteps_plus" class="hover_hand d-inline">
                                <i class="fas fa-plus-circle" aria-label="Add a new line"></i>
                            </div>
                            <div id="cookingSteps_minus" class="hover_hand d-inline">
                                <i class="fas fa-minus-circle" aria-label="Remove a line"></i>
                            </div>
                        </div>
                    </div>
                    <input type="text" name="cookingSteps[]" id="cookingSteps1" class="form-control" required>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-success form-control">Add recipe</button>
            </form>
        </div>
    </div>
{% endblock %}