<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- Custom -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Recipe to Grow</title>
</head>

<body>

    <header class="main-navbar">
        <!-- Navbar -->
        <nav class="navbar navbar-dark bg-success bg-opacity-75">
            <div class="container-fluid col-lg-9">
                <a class="navbar-brand" href="{{ url_for('home') }}">Recipe to grow</a>

                <!-- Mobile toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="card card-body navbar-card">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('recipes') }}">All recipes</a>
                    </li>  
                    {% if session.user %}                        
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">My recipes</a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">My Profile</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Login / Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    <div class="nav-space-filler"></div>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row bg-info flash-messages justify-content-center">
                        <h4 class="text-center">--- {{ message }} ---</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>


    <div class="container-fluid col-lg-9">
        {% block mainContent %}

        {% endblock %}
    </div>

</body>

</html>