{% extends "base.html" %}

{% block mainContent %}
    <header class="my-recipes-header">
        <h2>My Recipes</h2>
    </header>

    <div class="col-md-6 my-recipes-list">
        <ul>
            <!-- In case user has no recipes yet -->
            {% if recipes|length == 0 %}
                <li>
                    <div class="recipe-listing">
                        No recipes yet, but you can start adding right now
                    </div>
                </li>
            <!-- List each recipe's title -->
            {% else %}
                {% for recipe in recipes %}
                    <li>
                        <div class="recipe-listing">
                            <div class="row">
                                <a href="{{ url_for('viewRecipe', recipe_id=recipe._id) }}"
                                    aria-label="View this recipe" class="check-overflow col text-success">
                                    {{ recipe.Title }}
                                </a>
                                <div class="d-none col overflow-dots text-success">...</div>
                            </div>
                            
                            <div class="recipe-controls">
                                <!-- Edit button -->
                                <a href="{{ url_for('editRecipe', recipe_id=recipe._id) }}" 
                                    aria-label="Edit this recipe" class="control text-success">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <!-- Delete button -->
                                <a href="{{ url_for('deleteRecipe', recipe_id=recipe._id) }}" 
                                    aria-label="Delete this recipe" class="control text-success">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <!-- Add recipe button -->
    <a href="{{url_for('addRecipe')}}" aria-label="Add a recipe" 
        class="btn btn-success">Add recipe</a>
{% endblock %}