{% extends "base.html" %}

{% block mainContent %}

<div class="row">
    <div class="col-md-11 recipes-header">
        <div class="row">
            <form action="{{ url_for('search') }}" method="post" class="col">
                <div class="row">
                    <div class="col">
                        <label for="query" class="d-none"></label>
                        <input type="text" name="query" id="query" minlength="3" required>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-search"></i> Search
                        </button>
                        <a href="{{ url_for('recipes') }}" class="btn btn-danger">Reset</a>
                    </div>
                </div>
            </form>
        </div>
        <h4>All recipes</h4>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-10 all-recipes">
        {% for recipe in recipes %}
        <div class="recipe">            
            <a href="{{ url_for('viewRecipe', recipe_id=recipe._id) }}" class="link-success">
                <img src="/static/img/recipes/{{recipe.Image}}" alt="{{ recipe.Title }}">
                <p class="recipe-title">
                    {% if recipe.Title|length > 23 %}
                        {{ recipe.Title[0:22] }}..
                    {% else %}
                        {{ recipe.Title }}
                    {% endif %}
                </p>
                <p class="recipe-description">
                    {% if recipe.Description|length > 48 %}
                        {{ recipe.Description[0:46] }}..
                    {% else %}
                        {{ recipe.Description }}
                    {% endif %}
                </p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}